/******************************************
/* HOT GARBAGE - PLEASE DON'T MIMIC THIS CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  

  h1, .calResults {
    text-align: center;
  }

  .calResults {
    margin-bottom: 0;
    padding: 10px;
    width: 100%;
    
  }

  .calResultsBody {
    background: rgba(255, 229, 180, 1);
    border-radius: 8px;
    border: 3px solid rgb(0, 225, 255);
    box-shadow:  box-shadow: inset 3px 3px 3px 3px  rgba(0, 245, 245, 1);
  }

  button {
    display: block;
    text-align: center;
    width: 44px;
    height: 44px;
    border: 10x solid black;
    border-radius: 50%;
    background: rgba(255, 229, 180, 1);
    color:  rgba(0, 0, 128,1);
  }

  
  .col-1, .col-2, .col-3, .col-4 {
    float: left;
    margin: 5px;
    
  }

  .calBody {
    clear: both;
    border: 0;
    border-radius: 10px;
    outline: 0;
    margin: 0 auto;
    width: 220px;
    height: 345px;
    background: rgba(0, 255, 255, 1);
    box-shadow:  7px 9px 5px  rgba(19, 245, 235,1);
  }

  

