/******************************************
/* HOT GARBAGE - PLEASE DON'T MIMIC THIS CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  
  h1, h2 {
    text-align: center;
  }
  
  .columnOneButton, .columnTwoButton {
    width: 100px;
    height: 200px;
    list-style: none;
    padding: 0;
    background: rgba(0, 255, 255, 1);
  }

  button {
    text-align: center;
    width: 84px;
    height: 49px;
    border: 1px solid black;
  }

  .columnOne, .columnTwo, .columnThree, .columnFour{
    float: left;
  }

  .calBody {
    clear: both;
    width: 400px;
    margin: 0 auto;
    background: rgba(0, 255, 255, 1);
  }

